body {
}

h3 {
    font-family:minecrafteralt;
}

h3 a:hover {
    color:white;
}

h3 a {
    color:black;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #b6ff00
}
 

.btn:hover {
    background: #b6ff00
}
 
