body {
}

h3 {
    font-family:Minecrafter alt;
}

a {
    color: black;
}

a:hover {
    color: white;
}

body {
    background-image: url("http://i608.photobucket.com/albums/tt165/desudesunekochan/3PlUguT_zpscyrylnco.png");
}
