body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-image: url("../../content/images/snowtexture.jpg");
    background-repeat: repeat;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
	font-family:minecrafter;
	src:url(../fonts/Minecrafter.ttf); /*if IE */
    src: local("minecrafter"), url("../fonts/Minecrafter.ttf") format("truetype"); /* non-IE */
}

@font-face {
    font-family:Minecrafteralt;
    src:url(../fonts/minecrafteralt.ttf);
    src:local("minecrafteralt"), url("../fonts/minecrafteralt.ttf") format("truetype");
}

.navbar-brand {
    font-family: minecrafter;
    font-size: 2em;
    text-shadow: 2px 2px #595959;
}

h1 {
    font-family: minecrafteralt;
    font-size:5em;
    text-shadow:2px 2px #000000;
    color:darkgray
}

h2 {
    font-family:minecrafter
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;

}

iframe {
    width:100%;
    height:100%;
    border:none;
}

figure {
    display: inline-block;
    margin: 20px;
}

figure figcaption {
    text-align: center;
}

.outer {
    width: 100%;
    overflow: hidden;
}

.inner {
    margin: 5px;
    width: 170%
}

input {
    width:160%
}

label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #667a99;
    border: none;
    color: white;
    padding: 5px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-info {
    background-color: #667a99;
    border: none;
    color: white;
    padding: 5px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
}

.wrapper {
    text-align: center;
    margin-left:-150px
}