
@{
    ViewBag.Title = "Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
        <h2>How to Connect to Pazuzu Minecraft</h2>
        <h4>STEP ONE</h4>
        <h4>STEP TWO</h4>
        <h4>STEP THREE</h4>
        <!--possibility of adding images-->
</div>
 
<div class="well">
    <h2>Pazuzu Minecraft Rules</h2>
    <p>Please observe the server rules before logging in for the first time (and periodically thereafter).  Disregard of the rules will result in temporary or permanent bans.</p>
    <br />
    <b><p>Don't mess with others' projects or items</p></b>
    <p>Don't alter or destroy structures that you didn't build- this includes abandoned structures.  If you are visiting another player's area, do not move items or blocks.</p>
    <div class="alert alert-success"><b>In Case of Creepers!</b> If a creeper blows up part of another player's structures and no one else is around, do you best to rebuild what was destroyed.  The owner will have an easier time repairing things if their resources aren't left to despawn!</div>
    <b><p>Don't Steal</p></b>
    <p>Do not take items from boxes that aren't specifically marked as free items, even if you are starving.</p>
    <br />
    <b><p>Don't Squat</p></b>
    <p>All projects require preplanning and surveying but please do not claim large swaths of land and do nothing with them.</p>
    <br />
    <b><p>Leave Space</p></b>
    <p>Don't build directly up against another play'ers active area unless invited.  All players need room for expansion and the map is huge.  Please take the size of your project into account when choosing where to build as to not interfere with other structures.</p>
    <br />
    <b><p>Don't be a Jerk</p></b>
    <p>PVP is not allowed unless both players specifically state they are okay with it.  Please post signs warning others if you build a trap-filled fortress and possibly provide them with a box to store their items.  Don't abuse players through in-game chat.</p>
  
</div>

<div class="well">
    <!--all three in one well/jumbotron-->
    <h2>Server</h2>
    <h2>Version</h2>
    <h2>Mods</h2>
</div>
