
@{
    ViewBag.Title = "Connect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well">
    <div align="center">
        <h2>Connecting to the Pazuzu Minecraft Server</h2>
                <br />
                <br />
            <img class="img-responsive" src="../../Content/Images/connect.png" />
                <br />
                <br />
            <p>You must be on version 1.10.2 to access the server.  You can see what version of Minecraft you are running in the bottom left corner of the launcher.  If you are not running 1.10.2, click on edit profile to change it.</p>
                <br />
            <img class="img-responsive" src="../../Content/Images/version.png" />
                <br />
                <br />
            <p>On the Edit Profile pop up, you can choose 1.10.2 from the Use Version drop down and then choose to Save Profile</p>
                <br />
            <img class="img-responsive" src="../../Content/Images/connectserv.jpg" />
                <br />
                <br />
         <p>Once your game version has been adjusted and Minecraft has been launched, choose the Multiplayer menu.  Choose to add a server.  Change the name to <strong><font color="#667a99">Pazuzu's Minecraft Server</font></strong> and the location to <strong><font color="#667a99">craft.jeremytoler.net</font></strong>.</p>

        <p>Pazuzu Minecraft works with a whitelist system.  If you have received a whitelist error while signing in, please call/text/email us.</p>
    </div>      
 </div>
 
<div class="well">
    <h2>Pazuzu Minecraft Rules</h2>
    <p>Please observe the server rules before logging in for the first time (and periodically thereafter).  Disregard of the rules will result in temporary or permanent bans.</p>
    <br />
    <p><b>Don't Mess with Others' Projects or Items</b></p>
    <p>Don't alter or destroy structures that you didn't build- this includes abandoned structures.  If you are visiting another player's area, do not move items or blocks.</p>
    <div class="alert alert-success"><b>In Case of Creepers!</b> If a creeper blows up part of another player's structures and no one else is around, do you best to rebuild what was destroyed.  The owner will have an easier time repairing things if their resources aren't left to despawn!</div>
    <p><b>Don't Steal</b></p>
    <p>Do not take items from boxes that aren't specifically marked as free items, even if you are starving.</p>
    <br />
    <p><b>Don't Squat</b></p>
    <p>All projects require preplanning and surveying but please do not claim large swaths of land and do nothing with them.</p>
    <br />
    <p><b>Leave Space</b></p>
    <p>Don't build directly up against another players active area unless invited.  All players need room for expansion and the map is huge.  Please take the size of your project into account when choosing where to build as to not interfere with other structures.</p>
    <br />
    <p><b>Don't be a Jerk</b></p>
    <p>PVP is not allowed unless both players specifically state they are okay with it.  Please post signs warning others if you build a trap-filled fortress and possibly provide them with a box to store their items.  Don't abuse players through in-game chat.</p>
  
</div>


<div class="well">
    <h2>Server</h2>
    <strong>craft.jeremytoler.net</strong>
    <h2>Version</h2>
    <strong>1.10.2</strong>
        
</div>

 
