
@{
    ViewBag.Title = "External";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="well">
    <h2>External Resources</h2>
    <div class="row">
        <div class="span12" style="float:right">
            <div class="span7" style="float:left;">


                <figure>
                    <a href="http://minecraft.gamepedia.com/Crafting</a><img"><img src="../../content/images/craftingwiki.jpg" /></a>
                    <figcaption>
                        <strong><a href="http://minecraft.gamepedia.com/Crafting">Crafting Wiki</a></strong>-How to craft everything.</p>
                    </figcaption>
                </figure>

                <figure>
                    <a href="http://minecraft.gamepedia.com/Brewing"><img src="../../content/images/brewing wiki.jpg" /></a>
                    <figcaption>
                        <strong><a href="http://minecraft.gamepedia.com/Brewing">   Brewing Wiki</a></strong>-How to brew everything</p>
                    </figcaption>
                </figure>

                <figure>
                    <a href="http://www.planetminecraft.com/"><img src="../../content/images/planetminecraft (1).jpg" /></a>
                    <figcaption>
                        <strong><a href="http://www.planetminecraft.com/">   Planet Minecraft</a></strong>- Build schematics, 3D renders, etc.</p>
                    </figcaption>
                </figure>

                <figure>
                    <a href="https://minecraft.net/profile"><img src="../../content/images/mojang.jpg" /></a>
                    <figcaption>
                        <strong><a href="https://minecraft.net/profile">   Mojang</a></strong>- Change your skin
                    </figcaption>
                </figure>

                <figure>
                    <a href="https://www.reddit.com/r/minecraft"><img src="../../content/images/reddit.jpg" /></a>
                    <figcaption>
                        <strong><a href="https://www.reddit.com/r/minecraft">   r/Minecraft on Reddit</a></strong>- Advice, builds, server lists, etc
                    </figcaption>
                </figure>

            </div> <!--span7-->
        </div> <!--span12-->
    </div> <!--row-->
</div> <!--container-->

