
@{
    ViewBag.Title = "External";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>External Resources</h2>

<div class="well">
<div class="container">
    <figure>
        <a href="http://minecraft.gamepedia.com/Crafting</a><img"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/craftingwiki_zps4u9aohqy.jpg" /></a> 
        <figcaption>
            <strong><a href="http://minecraft.gamepedia.com/Crafting">Crafting Wiki</a></strong>-How to craft everything.</p>
        </figcaption>
    </figure>

    <figure>
        <a href="http://i608.photobucket.com/albums/tt165/desudesunekochan/brewing%20wiki_zpsmuu9muc2.jpg"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/brewing%20wiki_zpsmuu9muc2.jpg" /></a> 
            <figcaption>
                <strong><a href="http://minecraft.gamepedia.com/Brewing">   Brewing Wiki</a></strong>-How to brew everything</p>
            </figcaption>
    </figure>

    <figure>
        <a href="http://www.planetminecraft.com/"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/planetminecraft%201_zpspqcvazgn.jpg" /></a>
            <figcaption>
                <strong><a href="http://www.planetminecraft.com/">   Planet Minecraft</a></strong>- Build schematics, 3D renders, etc.</p>
            </figcaption>
    </figure>

    <!--<p><a href="http://minecraft.gamepedia.com/Crafting"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/craftingwiki_zps4u9aohqy.jpg" /></a><strong><a href="http://minecraft.gamepedia.com/Crafting">   Crafting Wiki</a></strong>-How to craft everything.</p>
    <p><a href="http://minecraft.gamepedia.com/Brewing"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/brewing%20wiki_zpsmuu9muc2.jpg" /></a><strong><a href="http://minecraft.gamepedia.com/Brewing">   Brewing Wiki</a></strong>-How to brew everything</p>
    <p><a href="http://www.planetminecraft.com/"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/planetminecraft%201_zpspqcvazgn.jpg" /></a><strong><a href="http://www.planetminecraft.com/">   Planet Minecraft</a></strong>- Build schematics, 3D renders, tutorials, textures, skins, etc.</p>
    <p><a href="https://minecraft.net/profile"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/mojang_zpshya6kwlp.jpg" /></a><strong><a href="https://minecraft.net/profile">   Mojang Skin Change</a></strong>- Change your character's look</p>
    <p><a href="https://www.reddit.com/r/minecraft"><img src="http://i608.photobucket.com/albums/tt165/desudesunekochan/reddit_zps6owzllzn.jpg" /></a><strong><a href="https://www.reddit.com/r/minecraft">   r/Minecraft</a></strong>- Subreddit with most up-to-date discusssions plus server lists, resources, advice, and guides.</p>-->
    </div>
</div>
