
@{
    ViewBag.Title = "External";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>External Resources</h2>

Minecraft Wiki
Specifically, the Crafting Wiki

Planet Minecraft - schematics, tutorials, skins, textures, server lists

Minecraft Skins- Skindex 

Happy Toy Machine - Custom plushes from minecraft skins

r/Minecraft - most up to date on news and resources, helpful forum

