
@{
    ViewBag.Title = "External";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>External Resources</h2>

<div class="well">
<div class="container">
        <p><strong><a href="http://minecraft.gamepedia.com/Crafting">Crafting Wiki</a></strong>-How to craft everything.</p>
        <p><strong><a href="http://minecraft.gamepedia.com/Brewing">Brewing Wiki</a></strong>-How to brew everything</p>
        <p><strong><a href="http://www.planetminecraft.com/">Planet Minecraft</a></strong>- Build schematics, 3D renders, tutorials, textures, skins, etc.</p>
        <p><strong><a href="https://minecraft.net/profile">Mojang Skin Change</a></strong>- Change your character's look</p>
        <p><strong><a href="https://www.reddit.com/r/minecraft">r/Minecraft</a></strong>- Subreddit with most up-to-date discusssions plus server lists, resources, advice, and guides.</p>
    </div>
</div>
