
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gallery</h2>
<p>Check out what the server looks like and what its denizens are currently working on.  While the server does not have any graphical mods, some of these were taken with shaders, which drastically improve the look and visual assets of Minecraft and are independently installed onto a user's computer.</p>  
<p>Log in to upload your own.</p>

