
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portals</h2>

<p>Pazuzu Minecraft has a multiverse system.  There are portals located near the world spawn that will take you to one of four different locations</p>

<div class="container-fluid">
    <div class="row">
        <div class="span6">
            <div class="col-md-6>Garden Palace</div>
            <div class="well" style="background-color: #ffccdd">Explore a huge waterside palace replete with ships, towers, hanging gardens, and epic structures.  This portal is on <strong>Peaceful</strong>.

            </div>
        </div>
        <div class="span6" >
            <div class="col-md-6>Four Pillars</div>
            <div class="well" style="background-color: #FFDD99">This Adventure Style game challenges visitors to survive with an extremely limited amount of resources between for enormous pillars.  Find a way to get what you need or face starvation.  This portal is on <strong>Normal</strong>, hunger is in effect and mobs will spawn.

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="span6">
        <div class="col-md-6 ">Apocalyptica</div>
        <div class="well" style="background-color: #ffbf80">Challenge yourself to a night in Apocalyptica.  This metropolis is overrun by mobs- and not just any mobs.  The angry hordes swarming the city streets are stronger and more aggressive than standard Minecraft.  This portal also utilizes the Infernal Mobs Mod and the Bloodmoon mod.  Infernal Mobs spawns hellish versions of their vanilla counterparts, sometimes with superpowers like invisibility or supersized.  Bloodmoon is a random event that spawns hordes of superpowered mobs in a night that doesn't end until you kill three Bloodmoon Mobs.  This portal is on <strong>Difficult</strong>.

        </div>
    </div>
    <div class="span6">
        <div class="col-md-6 >Winterfell</div>
        <div class="well" style="background-color: #d699ff">This map is a huge replica of A Song of Ice and Fire's Winterfell.  Wander the streets and towers of this famous city, exploring all the nooks and crannies from the novels.  This portal is on <strong>Difficult</strong>.

        </div>
    </div>
</div>
</div>

<div class="container">
    <h2>Portal Changelog</h2>
    <div class="alert alert-info">A list of changes to portals goes here.</div>
</div>