
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomHead{ 
    <link rel="stylesheet" type="text/css" href="~/Content/Portals.css" />
}

<div class="well">
    <h2>Portals</h2>

    <p>Pazuzu Minecraft has a multiverse system.  There are portals located near the world spawn that will take you to one of four different locations.  The portal worlds get rotated regularly so please check back often for updates.</p>

    <p>The portals can be found at the following XYZ coordinates:<strong><font color="#809fff">-254, 80, 178</font></strong>.  Use the Map or the F3 key in game to see your current coordinates.</p>

    <!--Portal Row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                    <div class="well" style="background-color: #ffccdd">
                        <h3><a href="http://www.planetminecraft.com/project/monument-valley-3654565/">The Black Factory</a></h3>
                        <p>This map has immense structures and colossal buildings- including a kraken attack!  Explore the Black Factory but be careful as this map is on <strong>Hard</strong>.</p>
                        <br />
                        <br />
                        <br />
                        <br />
                       

                    </div>
                </div>
                <div class="col-xs-offset-5 col-sm-5">
                    <div class="well" style="background-color: #FFDD99">
                        <h3><a href="http://www.minecraftmaps.com/adventure-maps/drobnovian-knights-i">Drobnovian Knights</a></h3>
                        <p>This massive RPG style map is a full blown game in its own right.  Embark on over 100 epic quests with special rewards and items. <strong>PLEASE NOTE</strong> this map has only one portal at the world spawn and it may be necessary for you to suicide yourself to get back if you've travelled to far and gotten stuck- therefore, do not bring valuables.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Portal Row-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="well" style="background-color: #ffbf80">
                        <h3><a href="http://dev.bukkit.org/bukkit-plugins/cityworld/">Apocalyptica</a></h3>
                        <p>Challenge yourself to a night in Apocalyptica.  This metropolis is overrun by mobs- and not just any mobs.  The angry hordes swarming the city streets are stronger and more aggressive than standard Minecraft.  This portal also utilizes the Infernal Mobs Mod and the Bloodmoon Mod. This portal is on <strong>Hard</strong>.</p>

                    </div>
                </div>
                <div class="col-xs-offset-5 col-sm-5">
                   <div class="well" style="background-color: #d699ff">
                        <h3><a href="mc.westeroscraft.com">King's Landing</a></h3>
                        <p>This map is a huge replica of A Song of Ice and Fire's King's Landing.  Wander the streets and towers of this famous city, exploring all the nooks and crannies from the novels.  This portal is on <strong>Hard</strong>.</p>
                        <br />
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
 
</div>

    <div class="well">
        <h2>Portal Changelog</h2>
        <div class="alert alert-info">
            <p><strong><a href="http://www.planetminecraft.com/project/monument-valley-3654565/">Garden Palace</a></strong> - Removed June 2016.  Epic map with enormous structures.</p>
            <p><strong><a href="http://www.minecraftmaps.com/survival-maps/4-pillar-survival">Four Pillars</a></strong> - Removed May 2016.  Extremely limited resource map with minimal building space.</p>
            <p><strong><a href="mc.westeroscraft.com">Winterfell</a></strong> - Removed May 2016. Painstakingly recreated model of A Song of Ice and Fire's Winterfell.</p>
            <p><strong><a href="http://www.minecraftforum.net/forums/mapping-and-modding/maps/1488950-adv-creation-funland-3-1-900-000-downloads">FunLand 3 Amusement Park</a></strong> -   Removed April 2016.  Densely packed theme park with rides, attractions, a monorail, shops, and cafes.</p>
            <p><strong><a href="http://www.minecraftforum.net/forums/minecraft-discussion/creative-mode/2404530-steampunk-port">Steampunk Port</a></strong> - Removed March 2016.  Intricate steampunk map with hot air balloons, sky ships, and an opulent shopping district.</p>
            
        </div>
    </div>





