
@{
    ViewBag.Title = "Server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


table {
	border-collapse: collapse;
	width:100%
}

th, td {
	padding:8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.info {
	background-color: #e7f3fe
	border-left: 6px solid #2196F3;
}



<h1>Server Maintenance Schedule</h1>

<table>
    <tr>
        <th>Time<?th>
        <th>Event</th>
    </tr>
    <tr>
        <th>Every 15 minutes</th>
        <th>Save the world state</th>
    </tr>
    <tr>
        <th>Once per day at 03:45</th>
        <th>Send a server notice: Server restarting in 15 minutes</th>
    </tr>
    <tr>
        <th>Once per day at 03:55</th>
        <th>Send a server notice: Server restarting in 5 minutes</th>
    </tr>
    <tr>
        <th>Once per day at 03:59</th>
        <th>Send a server notice: Server restarting in 1 minute</th>
    </tr>
    <tr>
        <th>Once per day at 04:00</th>
        <th>Restart server if RAM usage is higher than 1000MB</th>
    </tr>
    <tr>
        <th>Once per day at 4:05am</th>
        <th>Take backup of the world</th>
    </tr>
    <tr>
        <th>Once per day at 04:30</th>
        <th>Check for optional McMyAdmin updates and install if available</th>
    </tr>
</table>

    <div class="info">
        <p><strong>Get the app!</strong> Want an easy way to check the server status whenever you need?  The GooglePlay Store has several tracking apps- such as <a href="https://play.google.com/store/apps/details?id=com.falolfel.mcserverstatus&hl=en">Server Status for Minecraft</a>.  Not only will you be able to tell if the server is running smoothly, you'll also be able to tell if there are other players online.</p>
    </div>

