
@{
    ViewBag.Title = "Server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well">
    <h2>Server Maintenance Schedule</h2>
    
    <div class="info">
        <p><strong>Get the app!</strong> Want an easy way to check the server status whenever you need?  The GooglePlay Store has several tracking apps- such as <a href="https://play.google.com/store/apps/details?id=com.falolfel.mcserverstatus&hl=en">Server Status for Minecraft</a>.  Not only will you be able to tell if the server is running smoothly, you'll also be able to tell if there are other players online.</p>
    </div>


    <table>
        <tr>
            <th>Time</th>
            <th>Event</th>
        </tr>
        <tr>
            <th>Every 15 minutes</th>
            <th>Save the world state</th>
        </tr>
        <tr>
            <th>Once per day at 03:45</th>
            <th>Send a server notice: Server restarting in 15 minutes</th>
        </tr>
        <tr>
            <th>Once per day at 03:55</th>
            <th>Send a server notice: Server restarting in 5 minutes</th>
        </tr>
        <tr>
            <th>Once per day at 03:59</th>
            <th>Send a server notice: Server restarting in 1 minute</th>
        </tr>
        <tr>
            <th>Once per day at 04:00</th>
            <th>Restart server if RAM usage is higher than 1000MB</th>
        </tr>
        <tr>
            <th>Once per day at 04:05</th>
            <th>Take backup of the world</th>
        </tr>
        <tr>
            <th>Once per day at 04:30</th>
            <th>Check for optional McMyAdmin updates and install if available</th>
        </tr>
    </table> 
    <br />
    <script type="text/javascript" src="http://craft.jeremytoler.net:8080/js/widget.js"></script>  
</div>

<div class="well">
    <h2>Mods</h2>
    <p><strong><a href="https://www.spigotmc.org/">Spigot 1.10.2</a></strong> -   Optimizes server performance</p>
    <p><strong><a href="http://dev.bukkit.org/bukkit-plugins/dynmap/">Dynmap 2.274</a></strong> - Live map of the world including Overworld, Underground, The End, The Nether, and all portals. Displays players and in-game chat in real time.  Accessible via the Map page.</p>
    <p><strong><a href="http://dev.bukkit.org/bukkit-plugins/infernal-mobs/">InfernalMobs 4.9.1</a></strong> -   Turns random mobs into 'mini-bosses' with random powers and loot drops. Used in 2 portals.</p>
    <p><strong><a href="http://dev.bukkit.org/bukkit-plugins/multiverse-core/">Multiverse-Core 2.5-b717</a></strong> -   Supports multiple world maps that can be used simultaneously.</p>
    <p><strong><a href="http://dev.bukkit.org/bukkit-plugins/multiverse-portals/">Multiverse-Portals 2.6-b7255</a></strong> -   Supports portals function for multiworld management.</p>
    <p><strong><a href="http://mods.curse.com/bukkit-plugins/minecraft/ownportal">OwnPortal 0.0.3</a></strong> -   Stores location information when players enter and leave the nether so that new portals don't spawn and that players return to the portals they used to enter regardless of proximity to other portals.</p>
</div>

