
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Comments commentHelper = new Comments();
    string UserURL = Request.Url.ToString();
    string CurrentUser = Path.GetFileName(UserURL);
    ViewBag.Title = CurrentUser + "'s History";
}

@section CustomHead{
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="~/Content/GalleryCSS/bootstrap-image-gallery.min.css">
}

<!--Page Start-->
<div class="well">
    <center>
        <h1> @CurrentUser</h1>
        <h2>Comment History</h2>
    </center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <img src="https://minotar.net/body/@CurrentUser/150.png" />
            </div>
            <div class="col-md-10">
                <ul class="commentSection" style="list-style-type:none">
                    @Html.Raw(commentHelper.CommentHistory(CurrentUser))
                </ul>
            </div>
        </div>
    </div>
    <!--User image gallery-->

    <div class="content" align="center">
        <h2>Images from @CurrentUser</h2>
        
        <div id="links">
            @if (ViewBag.FullGallery != null)
            {
                foreach (var G in ViewBag.FullGallery)
                {
                    if (G.UserNameQuery == CurrentUser)
                    {
                        <a href="~/Content/GalleryImages/@G.FileNameQuery" title="@G.DescriptionQuery" data-gallery>
                            <img src="~/Content/GalleryImages/thumbs/@G.FileNameQuery" class="thumbnailImg">
                        </a>
                    }
                }
            }
        </div>

        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--End Well-->

@section Scripts{
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="js/bootstrap-image-gallery.min.js"></script>
}